[submodule "testing_h"]
	path = testing_h
	url = https://github.com/djpiper28/testing.h
[submodule "nlohmann_json"]
	path = nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "src/mtg_search_engine"]
	path = src/mtg_search_engine
	url = https://github.com/MonarchDevelopment/mtg-search-engine
[submodule "libbacktrace"]
	path = libbacktrace
	url = https://github.com/ErwanLegrand/libbacktrace
[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl
[submodule "pthreads"]
	path = pthreads
	url = https://github.com/GerHobbelt/pthread-win32
