CMakeLists.txt.user
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
build-SquireDesktop-Desktop-Debug/
build-SquireDesktop-Desktop-Release/
*.orig

cmake-build-debug/
cmake-build-release/
cmake-build-test/
.idea/

squire_ffi/target
target/

squire_ffi/squire_ffi.h
squire_ffi/cbindgen.toml
squire_ffi/*.lock

.cache/
*.json
*.kdev4
