#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Squire Desktop
Exec=sq_crash_handler
Icon=squire_desktop
Categories=Game;CardGame;
