name: "Main"

on:
  push:
    branches: [ "*" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
  schedule:
    - cron: '0 0 * * 5'

jobs:
  configure:
    name: Configure
    runs-on: ubuntu-latest
    outputs:
      tag: ${{steps.configure.outputs.tag}}
      sha: ${{steps.configure.outputs.sha}}
      upload_url: ${{steps.create_release.outputs.upload_url}}

    steps:
      - name: Cancel previous runs
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
      - uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}} # needs other token https://github.com/styfle/cancel-workflow-action/issues/7

      - name: Configure
        id: configure
        shell: bash
        run: |
          tag_regex='^refs/tags/'
          if [[ $GITHUB_EVENT_NAME == pull-request ]]; then # pull request
            sha="${{github.event.pull_request.head.sha}}"
          elif [[ $GITHUB_REF =~ $tag_regex ]]; then # release
            sha="$GITHUB_SHA"
            tag="${GITHUB_REF/refs\/tags\//}"
            echo "::set-output name=tag::$tag"
          else # push to branch
            sha="$GITHUB_SHA"
          fi
          echo "::set-output name=sha::$sha"

      - name: Checkout
        if: steps.configure.outputs.tag != null
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Prepare release parameters
        id: prepare
        if: steps.configure.outputs.tag != null
        shell: bash
        env:
          TAG: ${{steps.configure.outputs.tag}}
        run: .ci/prep_release.sh

      - name: Create release
        if: steps.configure.outputs.tag != null
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          tag_name: ${{github.ref}}
          release_name: ${{steps.prepare.outputs.title}}
          body_path: ${{steps.prepare.outputs.body_path}}
          draft: true
          prerelease: ${{steps.prepare.outputs.is_beta == 'yes'}}

  build-linux:
    name: Build Linux + Code Coverage
    needs: configure
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        language: [ 'cpp' ]
        
    steps:    
    - name: Cancel previous runs
      uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{github.token}} # needs other token https://github.com/styfle/cancel-workflow-action/issues/7
    
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
        
    - name: Install deps
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends build-essential cmake gcovr qt6-base-dev qt6-declarative-dev qt6-tools-dev qt6-tools-dev-tools
        sudo apt-get install -y --no-install-recommends valgrind python3 astyle
        rustup default nightly
        rustup update
        
    - name: Make Release
      shell: bash
      run : |
        mkdir -p build
        cd build
        rm -rf *
        cmake .. -DCMAKE_BUILD_TYPE=RELEASE "-DCMAKE_C_COMPILER=/bin/gcc"
        cmake --build . -j
        
    - name: Run Tests and Coverage
      shell: bash
      run: |
        mkdir -p build
        cd build
        rm -rf *
        cmake .. -DCMAKE_BUILD_TYPE=TEST "-DCMAKE_C_COMPILER=/bin/gcc"
        cmake --build . -j
        make coverage
    
    - uses: codecov/codecov-action@v2.1.0
      with:
        file: build/coverage.xml
        name: codecov-umbrella # optional

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: Debug # tests only
            os: macos-latest
            xcode: 12.5.1
            qt_version: 6
            type: Debug
            do_tests: 1

          - target: 10.14_Mojave
            os: macos-10.15 # runs on Catalina
            xcode: 10.3 # allows compatibility with macOS 10.14
            qt_version: 5
            type: Release
            # do_tests: 1 # tests do not work on qt5?
            make_package: 1

          - target: 10.15_Catalina
            os: macos-10.15
            xcode: 12.4
            qt_version: 6
            type: Release
            do_tests: 1
            make_package: 1

          - target: 11_Big_Sur
            os: macos-11
            xcode: 13.2
            qt_version: 6
            type: Release
            do_tests: 1
            make_package: 1

#          - target: 12_Monterey
#            os: macos-12
#            xcode: 13.3
#            qt_version: 6
#            type: Release
#            do_tests: 1
#            make_package: 1

    name: macOS ${{matrix.target}}
    needs: configure
    runs-on: ${{matrix.os}}
    env:
      DEVELOPER_DIR:
        /Applications/Xcode_${{matrix.xcode}}.app/Contents/Developer

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}

      - name: Install dependencies using homebrew
        shell: bash
        # cmake cannot find the mysql connector
        # neither of these works: mariadb-connector-c mysql-connector-c++
        env:
          qt_version: 'qt@${{matrix.qt_version}}'
        run: |
          brew update
          brew install "$qt_version" --force-bottle
          
      - name: Build on Xcode ${{matrix.xcode}}
        shell: bash
        id: build
        env:
          BUILDTYPE: '${{matrix.type}}'
          MAKE_TEST: '${{matrix.do_tests}}'
          MAKE_PACKAGE: '${{matrix.make_package}}'
          PACKAGE_SUFFIX: '-macOS-${{matrix.target}}'
          # set QTDIR to find qt5, qt6 can be found without this
          QTDIR: '/usr/local/opt/qt5'
        run: mkdir build; cd build; cmake ..; cmake --build . -j

      - name: Upload artifact
        if: matrix.make_package
        uses: actions/upload-artifact@v2
        with:
          name: macOS-${{matrix.target}}-dmg
          path: ${{steps.build.outputs.path}}
          if-no-files-found: error

      - name: Upload to release
        if: matrix.make_package && needs.configure.outputs.tag != null
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          upload_url: ${{needs.configure.outputs.upload_url}}
          asset_path: ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.name}}
          asset_content_type: application/octet-stream

  build-windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: Win-32bit
            arch: 32
            vcpkg_default_triplet: x86
            qt_version: '5.15.2'
            cmake_generator_platform: Win32
            qt_arch: msvc2019

          - target: Win7+-64bit
            arch: 64
            vcpkg_default_triplet: x64
            qt_version: '5.15.2'
            cmake_generator_platform: x64
            qt_arch: msvc2019_64

          - target: Win10+-64bit
            arch: 64
            vcpkg_default_triplet: x64
            qt_version: '6.3.0'
            cmake_generator_platform: x64
            qt_arch: msvc2019_64
            qt_modules: "qt5compat qtmultimedia qtwebsockets"

    name: ${{matrix.target}}
    needs: configure
    runs-on: windows-2019
    env:
      CMAKE_GENERATOR: 'Visual Studio 16 2019'

    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
          
      - name: Add msbuild to PATH
        id: add-msbuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Restore Qt ${{matrix.qt_version}} for ${{matrix.target}} from cache
        id: cache-qt
        uses: actions/cache@v1 # Intentionally v1, based on jurplel documentation
        with:
          key: QtCache-${{matrix.qt_version}}-${{matrix.target}}
          path: '${{github.workspace}}/../Qt'

      - name: Install Qt ${{matrix.qt_version}} for ${{matrix.target}}
        uses: jurplel/install-qt-action@v3
        with:
          cached: ${{steps.cache-qt.outputs.cache-hit}}
          version: ${{matrix.qt_version}}
          arch: win${{matrix.arch}}_${{matrix.qt_arch}}
          modules: ${{matrix.qt_modules}}

      - name: Run vcpkg
        uses: lukka/run-vcpkg@v10.2
        with:
          runVcpkgInstall: true
          appendedCacheKey: ${{matrix.arch}}-bit
        env:
          VCPKG_DEFAULT_TRIPLET: '${{matrix.vcpkg_default_triplet}}-windows'
          VCPKG_DISABLE_METRICS: 1

      - name: Build Squire Desktop
        id: build
        shell: bash
        env:
          PACKAGE_SUFFIX: '-${{matrix.target}}'
          CMAKE_GENERATOR: '${{env.CMAKE_GENERATOR}}'
          CMAKE_GENERATOR_PLATFORM: '${{matrix.cmake_generator_platform}}'
          QTDIR: '${{github.workspace}}\Qt\${{matrix.qt_version}}\win${{matrix.arch}}_${{matrix.qt_arch}}'
        run: mkdir build; cd build; cmake ..; cmake --build . -j

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.target}}-installer
          path: ${{steps.build.outputs.path}}
          if-no-files-found: error

      - name: Upload to release
        if: needs.configure.outputs.tag != null
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          upload_url: ${{needs.configure.outputs.upload_url}}
          asset_path: ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.name}}
          asset_content_type: application/octet-streamion/analyze@v1
